:root {
  // color
  --color-white: #ffffff;

  // base
  --background-color: #fafcff;
  --margin-base: 8px;
  --padding-base: 8px;

  // base scrollbar
  --scrollbar-background-color_track: #fafcff;
  --scrollbar-background-color_thumb: #bababa;
  --scrollbar-background-color_thumb-hover: #bababa;

  // selection checkbox-group
  --selection-checkbox-group-outline-background-color: #ffffff;
  --selection-checkbox-group-filled-background-color: #f0f0f0;

  --selection-checkbox-group-background-color: #f0f0f0;

  // selection checkbox
  --selection-checkbox-font-color_normal: #7d7d7d;
  --selection-checkbox-font-color_disabled: #cecece;

  // selection radio-group
  --selection-radio-group-outline-background-color: #ffffff;
  --selection-radio-group-filled-background-color: #f0f0f0;

  // selection radio
  --selection-radio-font-color_normal: #7d7d7d;
  --selection-radio-font-color_disabled: #cecece;

  // selection star
  --selection-star-font-color_normal: #7d7d7d;
  --selection-star-font-color_disabled: #cecece;

  // selection switch
  --selection-switch-font-color_normal: #7d7d7d;
  --selection-switch-font-color_disabled: #cecece;

  --selection-switch-color_checked_normal: #35cda8;
  --selection-switch-color_checked_disabled: #cecece;
  --selection-switch-color_unchecked_normal: #7d7d7d;
  --selection-switch-color_unchecked_disabled: #cecece;

  // selection toggle button
  --selection-toggle-button-background-color-not-selected: #f0f0f0;
  --selection-toggle-button-background-color-selected: #e2effd;

  // layout body
  --layout-body-background-color: #fafcff;

  // layout header
  --layout-header-height: 64px;
  --layout-header-background-color: #006ab7;
  --layout-header-title-color: #ffffff;

  // layout nav
  --layout-nav-expand-width: 220px;

  --layout-nav-expand-border-color: #e3e3e3;
  --layout-nav-expand-background-color: #ffffff;
  --layout-nav-expand-item-margin-bottom: 36px;

  --layout-nav-expand-logo-height: 62px;
  --layout-nav-expand-logo-image-height: 42px;
  --layout-nav-expand-logo-subtitle-font-size: 14px;
  --layout-nav-expand-logo-subtitle-color: #2b2b2b;
  --layout-nav-expand-logo-toggle-width: 16px;
  --layout-nav-expand-logo-toggle-height: 16px;

  --layout-nav-expand-brand-height: 38px;
  --layout-nav-expand-brand-id-font-color: #7d7d7d;
  --layout-nav-expand-brand-id-font-size: 12px;

  --layout-nav-expand-l1-height: 40px;
  --layout-nav-expand-l1-icon-width: 16px;
  --layout-nav-expand-l1-icon-height: 16px;
  --layout-nav-expand-l1-title-width: 108px;
  --layout-nav-expand-l1-font-size: 14px;

  --layout-nav-expand-l1-color_normal: #7d7d7d;
  --layout-nav-expand-l1-color_hover: #33abfc;
  --layout-nav-expand-l1-color_active: #2b2b2b;
  --layout-nav-expand-l1-background-color_normal: #ffffff;
  --layout-nav-expand-l1-background-color_hover: #ffffff;
  --layout-nav-expand-l1-background-color_active: #ffffff;
  --layout-nav-expand-l1-background-color_exact_active: #e2effd;

  --layout-nav-expand-l2-height: 40px;
  --layout-nav-expand-l2-title-width: 108px;
  --layout-nav-expand-l2-font-size: 14px;

  --layout-nav-expand-l2-color_normal: #7d7d7d;
  --layout-nav-expand-l2-color_hover: #33abfc;
  --layout-nav-expand-l2-color_active: #2b2b2b;
  --layout-nav-expand-l2-background-color_normal: #ffffff;
  --layout-nav-expand-l2-background-color_hover: #ffffff;
  --layout-nav-expand-l2-background-color_active: #ffffff;
  --layout-nav-expand-l2-background-color_exact_active: #e2effd;

  --layout-nav-expand-l3-height: 40px;
  --layout-nav-expand-l3-title-width: 132px;
  --layout-nav-expand-l3-font-size: 14px;

  --layout-nav-expand-l3-color_normal: #7d7d7d;
  --layout-nav-expand-l3-color_hover: #33abfc;
  --layout-nav-expand-l3-color_active: #2b2b2b;
  --layout-nav-expand-l3-background-color_normal: #ffffff;
  --layout-nav-expand-l3-background-color_hover: #ffffff;
  --layout-nav-expand-l3-background-color_active: #ffffff;
  --layout-nav-expand-l3-background-color_exact_active: #e2effd;

  --layout-nav-collapse-width: 64px;

  --layout-nav-collapse-border-color: #e3e3e3;
  --layout-nav-collapse-background-color: #ffffff;

  --layout-nav-collapse-logo-height: 64px;
  --layout-nav-collapse-logo-toggle-width: 16px;
  --layout-nav-collapse-logo-toggle-height: 16px;
  --layout-nav-collapse-logo-home-width: 16px;
  --layout-nav-collapse-logo-home-height: 16px;

  --layout-nav-collapse-l1-height: 64px;
  --layout-nav-collapse-l1-icon-width: 16px;
  --layout-nav-collapse-l1-icon-height: 16px;
  --layout-nav-collapse-l1-font-size: 14px;

  --layout-nav-collapse-l1-color-normal: #7d7d7d;
  --layout-nav-collapse-l1-color-hover: #33abfc;
  --layout-nav-collapse-l1-color-active: #2b2b2b;
  --layout-nav-collapse-l1-background-color_normal: #ffffff;
  --layout-nav-collapse-l1-background-color_hover: #ffffff;
  --layout-nav-collapse-l1-background-color_active: #e2effd;
  --layout-nav-collapse-l1-background-color_exact_active: #e2effd;

  --layout-nav-collapse-l2-height: 40px;
  --layout-nav-collapse-l2-title-width: 108px;
  --layout-nav-collapse-l2-font-size: 14px;

  --layout-nav-collapse-l2-color-normal: #7d7d7d;
  --layout-nav-collapse-l2-color-hover: #33abfc;
  --layout-nav-collapse-l2-color-active: #2b2b2b;
  --layout-nav-collapse-l2-background-color_normal: #ffffff;
  --layout-nav-collapse-l2-background-color_hover: #ffffff;
  --layout-nav-collapse-l2-background-color_active: #ffffff;
  --layout-nav-collapse-l2-background-color_exact_active: #e2effd;

  --layout-nav-collapse-l3-height: 40px;
  --layout-nav-collapse-l3-title-width: 132px;
  --layout-nav-collapse-l3-font-size: 14px;

  --layout-nav-collapse-l3-color-normal: #7d7d7d;
  --layout-nav-collapse-l3-color-hover: #33abfc;
  --layout-nav-collapse-l3-color-active: #2b2b2b;
  --layout-nav-collapse-l3-background-color_normal: #ffffff;
  --layout-nav-collapse-l3-background-color_hover: #ffffff;
  --layout-nav-collapse-l3-background-color_active: #ffffff;
  --layout-nav-collapse-l3-background-color_exact_active: #e2effd;

  --layout-nav-collapse-float-window-width: 220px;
  --layout-nav-collapse-float-window-height: auto;
  --layout-nav-collapse-float-window-margin-top: calc(var(--layout-nav-collapse-l1-icon-height) + var(--layout-nav-collapse-l1-icon-height) / 2);
  --layout-nav-collapse-float-window-gap: -2px;
  --layout-nav-collapse-float-window-border-color: #e3e3e3;
  --layout-nav-collapse-float-window-background-color: #ffffff;

  // layout footer
  --layout-footer-height: 16px;

  // layout advanced-filter
  --layout-advanced-filter-width: 307px;
  --layout-advanced-filter-background: rgba(50, 50, 51, 0.3);
  --layout-advanced-filter-header-height: 55px;
  --layout-advanced-filter-footer-height: 55px;
  --layout-advanced-filter-title-color: #2b2b2b;
  --layout-advanced-filter-slot-border-color: #e3e3e3;

  // button
  --button-primary_normal: #006ab7;
  --button-primary_hover: #2fa8ff;
  --button-primary_active: #003b65;
  --button-primary_disable: #cecece;

  --button-secondary_normal: #35cda8;
  --button-secondary_hover: #b7eecb;
  --button-secondary_active: #14896d;
  --button-secondary_disable: #cecece;

  --button-grayscale-dark_normal: #ffffff;
  --button-grayscale-dark_hover: #2fa8ff;
  --button-grayscale-dark_active: #003865;
  --button-grayscale-dark_disable: #cecece;

  --button-successful_normal: #8ea473;
  --button-successful_hover: #bed7a0;
  --button-successful_active: #60714b;
  --button-successful_disable: #cecece;

  --button-error_normal: #ca4940;
  --button-error_hover: #f8857d;
  --button-error_active: #86251e;
  --button-error_disable: #cecece;

  --button-warning_normal: #d5b142;
  --button-warning_hover: #ffdf7f;
  --button-warning_active: #917520;
  --button-warning_disable: #cecece;

  --button-grayscale-highlight_normal: #7d7d7d;
  --button-grayscale-highlight_hover: #2fa8ff;
  --button-grayscale-highlight_active: #003b65;
  --button-grayscale-highlight_disable: #cecece;

  // divider
  --divider-dark-color: #bababa;
  --divider-light-color: #e3e3e3;
  --divider-grayscale-dark-color: #ffffff;

  // card-app-button
  --card-app-button-width: 100px;
  --card-app-button-height: 135px;
  --card-app-button-color_normal: #7d7d7d;
  --card-app-button-color_hover: #2fa8ff;
  --card-app-button-color_active: #003b65;

  --card-app-button-image-width: 100px;
  --card-app-button-image-height: 100px;

  --card-app-button-name-font-size: 14px;
  --card-app-button-name-margin-top: 12px;
  --card-app-button-name-margin-bottom: 7px;

  // card-card-button
  --card-button-width: 360px;
  --card-button-height: 160px;

  --card-button-header-height: 40px;
  --card-button-header-font-size: 20px;

  --card-button-content-height: 110px;
  --card-button-content-text-size: 54px;

  --card-button-content-unit-size: 16px;

  // card-map
  --card-map-width: 332px;
  --card-map-height: 158px;
  --card-map-title-height: 46px;
  --card-map-title-font-color: #7d7d7d;
  --card-map-title-font-size: 20px;

  --card-map-image-width: 120px;
  --card-map-image-height: 64px;

  // card-container
  --card-container-background-color: #ffffff;
  --card-container-1px-border-color: #e3e3e3;
  --card-container-2px-border-color: #e3e3e3;

  // card-tab
  --card-tab-background-color-not-selected: #ffffff;
  --card-tab-background-color-selected: #e2effd;

  // card-subscription
  --card-subscription-width: 312px;
  --card-subscription-height: 68px;

  --card-subscription-image-width: 32px;
  --card-subscription-image-height: 32px;

  --card-subscription-right-width: 244px;
  --card-subscription-right-height: 34px;

  --card-subscription_normal: #7d7d7d;
  --card-subscription_hover: #2fa8ff;
  --card-subscription-background_hover: #e2effd;
  --card-subscription_active: #2b2b2b;

  // card-bulletin-event
  --card-bulletin-event-width: 306px;
  --card-bulletin-event-height: 72px;

  --card-bulletin-event-left-panel-width: 48px;

  --card-bulletin-event-date-color: #2b2b2b;
  --card-bulletin-event-month-color: #7d7d7d;
  --card-bulletin-event-type-color: #2b2b2b;
  --card-bulletin-event-description-color: #7d7d7d;

  --card-bulletin-event-background-color: transparent;
  --card-bulletin-event_hover: #2fa8ff;
  --card-bulletin-event_active: #003b65;
  --card-bulletin-event-background_hover: #e2effd;

  // card-event
  --card-event-width: 320px;
  --card-event-height: 60px;

  --card-event-image-width: 24px;
  --card-event-image-height: 24px;

  --card-event-line-width: 4px;
  --card-event-line-height: 52px;

  --card-event-title-width: 184px;
  --card-event-content: #7d7d7d;

  --card-event-background-color: #ffffff;
  --card-event_normal: #2b2b2b;
  --card-event_hover: #2fa8ff;
  --card-event_active: #003b65;
  --card-event-background_hover: #f0f0f0;
  --card-event-left-line: #35cda8;

  // card-assemble
  --card-assemble-width: 320px;
  --card-assemble-max-height: 736px;
  --card-assemble-max-height_1440: 616px;
  --card-assemble-max-height_1366: 496px;

  --card-assemble-group-title-height: 32px;
  --card-assemble-group-title-color: #7d7d7d;
  --card-assemble-group-background-color: #ffffff;

  --card-assemble-header-height: 40px;
  --card-assemble-footer-height: 32px;

  // login
  --login-content-width: 448px;
  --login-content-margin-bottom: 0px;
  --login-content-margin-bottom_1440: 60px;
  --login-content-margin-bottom_1366: 40px;

  --login-welcome-height: 61px;
  --login-welcome-font-color: #2b2b2b;
  --login-welcome-font-size: 52px;
  --login-welcome-margin-bottom: 8px;

  --login-title-height: 49px;
  --login-title-font-color: #2b2b2b;
  --login-title-font-size: 42px;
  --login-title-margin-bottom: 36px;
  --login-title-margin-bottom_1366: 24px;

  --login-input-height: 97px;
  --login-input-margin-bottom: 36px;
  --login-input-margin-bottom_1366: 24px;

  --login-checkbox-margin-bottom: 36px;
  --login-checkbox-margin-bottom_1366: 24px;

  --login-button-height: 40px;
  --login-button-font-size: 16px;

  --login-footer-height: 96px;
  --login-footer-logo-image-width: 116px;
  --login-footer-font-color: #7d7d7d;

  --login-slot-margin-bottom: 36px;
  --login-slot-margin-bottom_1366: 24px;

  // table
  --table-border-color: #e3e3e3;
  --table-field-gap: 12px;
  --table-checkbox-width: 80px;

  --table-header-height: 60px;
  --table-header-font-color: #2b2b2b;
  --table-header-icon-width: 14px;
  --table-header-icon-height: 14px;
  --table-header-icon-gap: 8px;
  --table-header-information-background-color: #c5e6ff;

  --table-body-height: 60px;
  --table-body-font-color: #2b2b2b;
  --table-body-hover-color: #e2effd;
  --table-body-background-color_odd: transparent;
  --table-body-background-color_even: transparent;

  // paging
  --paging-font-color: #2b2b2b;
  --paging-height: 60px;

  // user control
  --user-control-width: 24px;
  --user-control-height: 24px;

  --user-control-abbreviation-list-width: 24px;
  --user-control-abbreviation-list-height: 24px;
  --user-control-abbreviation-font-size: 12px;
  --user-control-abbreviation-color: #ffffff;
  --user-control-abbreviation-color_normal: #006ab7;
  --user-control-abbreviation-color_hover: #2fa8ff;
  --user-control-abbreviation-color_active: #003b65;

  --user-control-action-color: #7d7d7d;
  --user-control-action-content-height: 24px;
  --user-control-action-font-size: 14px;

  // user control nav
  --user-control-nav-width: 220px;
  --user-control-nav-background-color: #ffffff;

  --user-control-nav-header-height: 58px;
  --user-control-nav-header-background-color_normal: transparent;
  --user-control-nav-header-background-color_hover: #f0f0f0;
  --user-control-nav-header-background-color_active: #f0f0f0;

  --user-control-nav-header-abbreviation-list-width: 24px;
  --user-control-nav-header-abbreviation-list-height: 24px;
  --user-control-nav-header-abbreviation-font-size: 12px;
  --user-control-nav-header-abbreviation-color: #ffffff;
  --user-control-nav-header-abbreviation-background-color_normal: #006ab7;
  --user-control-nav-header-abbreviation-background-color_hover: #2fa8ff;
  --user-control-nav-header-abbreviation-background-color_active: #003b65;

  --user-control-nav-header-info-name-font-size: 14px;
  --user-control-nav-header-info-name-color_normal: #006ab7;
  --user-control-nav-header-info-name-color_hover: #2fa8ff;
  --user-control-nav-header-info-name-color_active: #003b65;

  --user-control-nav-header-info-rule-font-size: 12px;
  --user-control-nav-header-info-rule-color: #7d7d7d;

  --user-control-nav-action-content-font-size: 14px;
  --user-control-nav-action-content-color_normal: #7d7d7d;
  --user-control-nav-action-content-color_hover: #2fa8ff;
  --user-control-nav-action-content-color_active: #003b65;

  --user-control-nav-footer-content-font-size: 12px;
  --user-control-nav-footer-content-color: #7d7d7d;

  // welcome
  --welcome-padding-top: 120px;
  --welcome-padding-bottom: 110px;

  --welcome-content-width: 1144px;
  --welcome-content-width_1366: 1082px;
  --welcome-content-height: 670px;
  --welcome-content-height_1366: 552px;

  --welcome-content-header-height: 66px;

  --welcome-header-name-height: 38px;
  --welcome-header-name-font-size: 32px;
  --welcome-header-name-color: #2b2b2b;
  --welcome-header-role-font-size: 16px;
  --welcome-header-role-color: #7d7d7d;
  --welcome-header-email-font-size: 16px;
  --welcome-header-email-color: #7d7d7d;

  --welcome-left-width: 764px;
  --welcome-left-width_1366: 721px;
  --welcome-left-height: 504px;
  --welcome-left-height_1366: 402px;

  --welcome-right-width: 332px;
  --welcome-right-width_1366: 313px;
  --welcome-right-height: var(--welcome-left-height);
  --welcome-right-height_1366: var(--welcome-left-height_1366);

  --welcome-footer-height: 36px;
  --welcome-footer-margin-top: 32px;
  --welcome-footer-font-size: 12px;
  --welcome-footer-font-color: #7d7d7d;

  // welcome-bulletin
  --welcome-bulletin-border-color: #e3e3e3;
  --welcome-bulletin-background-color: #ffffff;

  --welcome-bulletin-header-height: 40px;
  --welcome-bulletin-header-color: #006ab7;
  --welcome-bulletin-header-background-color: #e2effd;

  --welcome-bulletin-event-title-height: 40px;
  --welcome-bulletin-event-title-color: #7d7d7d;
  --welcome-bulletin-event-contents-height: 168px;
  --welcome-bulletin-event-contents-height_1366: 88px;

  --welcome-bulletin-document-title-height: 40px;
  --welcome-bulletin-document-title-color: #7d7d7d;
  --welcome-bulletin-document-contents-height: 192px;
  --welcome-bulletin-document-contents-content-height: 24px;

  // tooltip
  --tooltip-background-color: #6e6e6e;
  --tooltip-font-size: 12px;
  --tooltip-font-color: #ffffff;

  --tooltip-padding-top: 8px;
  --tooltip-padding-right: 8px;
  --tooltip-padding-bottom: 8px;
  --tooltip-padding-left: 8px;

  --tooltip-title-height: 14px;
  --tooltip-title-color: #bababa;
  --tooltip-title-font-size: 12px;

  // input
  --input-error-message-height: 22px;
  --input-caret-color: #003b65;

  --input-border_normal: #e2e2e2;
  --input-border_hover: #2fa8ff;
  --input-border_active: #e2e2e2;
  --input-border_disable: #e2e2e2;
  --input-border_error: #ca4940;
  --input-border_focus: #003b65;
  --input-border_readonly: #e2e2e2;

  --input-grayscale-primary_normal: #7d7d7d;
  --input-grayscale-primary_hover: #2fa8ff;
  --input-grayscale-primary_active: #006ab7;
  --input-grayscale-primary_disable: #e2e2e2;
  --input-grayscale-primary_error: #ca4940;
  --input-grayscale-primary_focus: #003b65;
  --input-grayscale-primary_readonly: #e2e2e2;
  --input-grayscale-primary-font-color_disable: #cecece;
  --input-grayscale-primary-font-color_readonly: #2b2b2b;

  // input textarea
  --input-textarea-count-color: #7d7d7d;

  // input datetime
  --input-datetime-error-message-height: 22px;
  --input-datetime-placeholder: #7d7d7d;

  --input-datetime-grayscale-primary-border: #e3e3e3;
  --input-datetime-grayscale-primary-text: #7d7d7d;
  --input-datetime-grayscale-primary-today: #2b2b2b;
  --input-datetime-grayscale-primary-range: #eaf6ff;
  --input-datetime-grayscale-primary-range-text: #003b65;
  --input-datetime-grayscale-primary-cell-not-current-month: #cecece;
  --input-datetime-grayscale-primary-time-active: #eaf6ff;
  --input-datetime-grayscale-primary-time-active-text: #003b65;

  // dropdown select
  --dropdown-select-error-message-height: 22px;

  --dropdown-select-option_normal: #ffffff;
  --dropdown-select-option_active: #ffffff;
  --dropdown-select-option_hover: #e2effd;
  --dropdown-select-option-font-color_normal: #7d7d7d;
  --dropdown-select-option-font-color_active: #003b65;
  --dropdown-select-option-font-color_hover: #2fa8ff;

  --dropdown-select-border_normal: #e2e2e2;
  --dropdown-select-border_hover: #2fa8ff;
  --dropdown-select-border_active: #e2e2e2;
  --dropdown-select-border_disable: #e2e2e2;
  --dropdown-select-border_error: #ca4940;
  --dropdown-select-border_focus: #003b65;
  --dropdown-select-border_readonly: #e2e2e2;

  --dropdown-select-grayscale-primary_normal: #7d7d7d;
  --dropdown-select-grayscale-primary_hover: #2fa8ff;
  --dropdown-select-grayscale-primary_active: #006ab7;
  --dropdown-select-grayscale-primary_disable: #e2e2e2;
  --dropdown-select-grayscale-primary_error: #ca4940;
  --dropdown-select-grayscale-primary_focus: #003b65;
  --dropdown-select-grayscale-primary_readonly: #e2e2e2;
  --dropdown-select-grayscale-primary-font-color_disable: #cecece;
  --dropdown-select-grayscale-primary-font-color_readonly: #2b2b2b;

  --dropdown-select-primary_normal: #006ab7;
  --dropdown-select-primary_hover: #2fa8ff;
  --dropdown-select-primary_active: #006ab7;
  --dropdown-select-primary_disable: #e2e2e2;
  --dropdown-select-primary_error: #ca4940;
  --dropdown-select-primary_focus: #003b65;
  --dropdown-select-primary_readonly: #e2e2e2;
  --dropdown-select-primary-font-color_disable: #cecece;
  --dropdown-select-primary-font-color_readonly: #2b2b2b;

  --dropdown-select-tooltip-max-height: 736px;
  --dropdown-select-tooltip-max-height_1440: 616px;
  --dropdown-select-tooltip-max-height_1366: 496px;

  // loading
  --loading-background: rgba(250, 252, 255);
  --loading-background-opacity: rgba(250, 252, 255, 0.8);
  --loading-font-color: #006ab7;
  --loading-progress-width: 400px;
  --loading-progress-height: 8px;
  --loading-progress-background: #9fd7ff;
  --loading-progress-progress: #006ab7;

  // text
  --text-color: #2b2b2b;
  --text-info-gap: 8px;

  //modal
  --modal-background: rgba(50, 50, 51, 0.3);

  --modal-header-height-line1: 64px;
  --modal-header-height-line2: 75px;
  --modal-header-border: #e3e3e3;
  --modal-header-background-color: #ffffff;

  --modal-footer-height: 64px;
  --modal-footer-border: #e3e3e3;
  --modal-footer-background-color: #ffffff;

  --welcome-content-height_1920: 800px;
  --welcome-content-height_1440: 650px;

  //slider
  --input-grayscale-primary-active_disable: #c5e6ff;

  // image
  --image-mask-background: #2b2b2b;
}
